<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}
		{% if info.title %}
			{{ info.title }} -
		{% endif %}
		Baun
	{% endblock %}</title>
	{% if info.description %}
	<meta name="description" content="{{ info.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:600">
	<link rel="stylesheet" href="{{ theme_url }}/css/normalize.min.css">
	<link rel="stylesheet" href="{{ theme_url }}/style.css">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<header class="site-header">
				<h1 class="logo"><a href="{{ base_url }}">Baun</a></h1>
				<nav>
					{{ baun_nav() }}
				</nav>
			</header>
			<footer>
				&copy; {{ data|date('Y') }}
			</footer>
		</div>
		<div class="main">
			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
